/**
 * @file acquia_lift_inspector.css
 */

.dialog-active {
  overflow: hidden;
}

.lift-inspector-dialog.ui-dialog {
  margin-top: 30px;
  padding: 0;
}

.toolbar-horizontal.toolbar-tray-open .lift-inspector-dialog.ui-dialog {
  margin-top: 85px;
}

.lift-inspector-dialog.ui-dialog .ui-dialog-titlebar {
  background: #fff;
  color: #666;
  border-radius: 0;
}

#lift-inspector,
#lift-inspector div {
  position: relative;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
}

#lift-inspector {
  background: #018dc7;
  font-size: 100%;
  padding: 15px;
}

#lift-inspector p,
#lift-inspector a,
#lift-inspector label,
#lift-inspector h1,
#lift-inspector h2,
#lift-inspector h3,
#lift-inspector pre {
  float: none;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-style: normal;
  line-height: 1.5;
  vertical-align: baseline;
  font-weight: normal;
  border: 0;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background: transparent;
}

#lift-inspector h1 {
  font-size: 26px;
}

#lift-inspector h1,
#lift-inspector h2,
#lift-inspector h3 {
  margin: 0.5em;
}

#lift-inspector h2 {
  color: #fff;
  font-size: 22px;
}

#lift-inspector h3 {
  color: #333;
  font-size: 16px;
}

#lift-inspector p,
#lift-inspector label,
#lift-inspector pre {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
}

#lift-inspector a {
  color: #018dc7;
}

#lift-inspector label {
  text-transform: uppercase;
  font-weight: bold;
}

#lift-inspector .lift-inspector-wrapper label:after {
  content: ': ';
}

#lift-inspector pre {
  font-weight: bold;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  background: #333;
}

#lift-inspector #account-details pre {
  display: inline-block;
}

#lift-inspector .container div {
  margin-bottom: 5px;
}

#lift-inspector .container .item-wrapper div {
  overflow: hidden;
}
#lift-inspector .lift-inspector-wrapper .item-wrapper .inline-wrap {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  overflow: scroll;
}

#lift-inspector .lastdecision-item-wrapper .item-details:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3rem;
  background: linear-gradient(to right,rgba(255,255,255,0),#333333);
  content: '';
}

#lift-inspector .lift-inspector-wrapper .item-wrapper .inline-wrap:hover:after {
  display: none;
}

#lift-inspector .lift-inspector-wrapper .inline-wrap pre {
  vertical-align: middle;
  display: inline;
  width: 100%;
}

#lift-inspector .lift-inspector-wrapper .inline-wrap label.inline-pre {
  display: inline-block;
  vertical-align: middle;
}

#lift-inspector .lift-inspector-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin: 15px 5px;
}

#lift-inspector .lift-inspector-wrapper .item-title {
  background: #fff;
  padding: 10px;
}

#lift-inspector .lift-inspector-wrapper #account-details {
  background: transparent;
  display: flex;
  justify-content: space-between;
}

#lift-inspector .lift-inspector-wrapper #account-details div {
  padding: 5px 15px;
  vertical-align: top;
  width: 32%;
}
@media (max-width: 760px) {
  #lift-inspector .lift-inspector-wrapper #account-details div,
  #lift-inspector .lift-inspector-wrapper {
    display: block;
    width: 95%;
  }
  #lift-inspector .lift-inspector-wrapper #account-details {
    width: 100%;
    display: block;
  }
}

#lift-inspector .lift-inspector-wrapper .item-wrapper {
  margin-bottom: 10px;
  background: #333;
}

#lift-inspector .lift-inspector-wrapper .item-wrapper .item-details {
  padding: 0 10px;
}

#lift-inspector .lift-inspector-wrapper .item-wrapper:last-child {
  border-bottom: none;
}

#lift-inspector .lift-inspector-wrapper #account-details label {
  display: block;
}

#lift-inspector .lift-inspector-wrapper-fullwidth {
  width: 98%;
}

#lift-inspector .lift-inspector-wrapper-fullwidth .container div {
  display: inline-block;
}
